
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: 'Baloo Bhai 2', cursive;
    font-family: 'Niconne', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */

}
.top-benar,.top-header{
    background-color: rgba(214, 206, 206, 0.834);
}
nav{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.logo{
    display: flex;
    margin: 20px 100px;
    cursor: pointer;
}
.logo > h3{
    margin: 15px 0 0 0;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size:15px;
    padding:8px 18px;
}
nav ul li a:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}
 .top-benar-btn{
    color: white;
    margin: 10px 22px;
    padding: 8px 23px;
    background-color: rgba(255, 85, 0, 0.987);
    border: 1px solid rgba(255, 85, 0, 0.987);
}
/* Section top benar */
.top-benar{
    font-family: 'Baloo Bhai 2', cursive;
 display: flex;
 justify-content: center;
 align-items: center;

}
.half{
    font-family: 'Baloo Bhai 2', cursive;
    width: 50%;
    margin:25px 0 0 25px;
    padding: 10px;
}
.benar-img{
    width: 80%;
    height: 300px;
}
.top-description{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}
.benar-title{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3rem;
    margin: 25px 15px;
}
.benar-details{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 16px;
}
.btn{
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid rgba(255, 85, 0, 0.987);
    margin: 30px 25px;
    padding: 13px 28px;
    border-radius: 5px;
    background-color:rgba(255, 85, 0, 0.987);
    cursor: pointer;
}
.btn-color{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border: 1px solid black;
}
.btn:hover{
    background-color: black;
    background-color: 1px solid black;
}
.btn-color:hover{
    color: black;
    border: gray;
    background-color:rgba(239, 236, 234, 0.987);
}
/* Section Service */
.service{
    margin: 50px;
}
.service-title{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 22px;
    text-align: center;
}
.all-big{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 50px;
    margin: 8px;
}
.mini-big{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 12px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.card{
    text-align: center;
    width:350px;
    height: 285px;
    box-sizing: border-box;
    box-shadow: 2px 2px 15px gray;
    margin: 18px;
    padding: 12px;
}
.card-img > img{
    width: 60px;
    height: 55px;
}
.card-title{
    font-family: 'Baloo Bhai 2', cursive;
    color: red;
}
.card:hover{
    margin-top:-6px;
    border-top: 8px solid orange;
}
.card-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    color:#f70808;
}
.card-link:hover{
    color: rgb(71, 16, 250);
}
div.more{
    text-align: center;
    margin: 12px;
}
.service-link{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    cursor: pointer;
    padding: 10px 35px;
    color: whitesmoke;
    font-weight: bold;
    background-color: black;
}
.service-link:hover{
    background-color: rgba(224, 197, 197, 0.425);
    color: black;
}
/* Section Fruit details */
.fruits-details{
    margin: 30px;
}
.orange-description{
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    text-align: center;
}
.details{
    width: 675px;
    margin: 10px 12px;
 
}

.fruit-pic{

    width: 500px;
    margin:20px 12px;
    text-align: center;
}
.fruit-size{
    font-family: 'Roboto', sans-serif;
    width: 40%;
    height: 200px;
}
.fruit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 60px;
    padding: 12px;
}
.fruits-description{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 20px 0 40px 4px;
}

.fruit-title{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 22px;
  
}
/* Tristy Seation */
.tristy-section{
    width: 100%;
    height: 500px;
    background-image: url("tasty-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0;
}
.tristy-title{
    font-family: 'Baloo Bhai 2', cursive;
    color: whitesmoke;
    font-size: 5rem;
    text-align: center;
}
.test-title{
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    margin: 20px;
}
.test-dadu{
    text-align: center;
    margin-top: 30px;
}
.dadu-description{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 30px 20px;
}

.dadu-name{
    font-size: 22px;
    color: red;
}
h5{
    color: rgb(239, 204, 3);
}
/* Section Contact */
.contact{
    margin: 100px 0 50px 100px;
    background-image: url("orange-dish.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    
}
.contact-title{
    font-family: 'Baloo Bhai 2', cursive;
margin: 15px;
}
.form-name input{
   font-family: 'Roboto', sans-serif;
    border:1px solid rgb(253, 251, 251);
    font-size: 18px;
    height: 50px;
    width: 500px;
    outline: none;
    border-style: none;
}
.contact-form{
    width: 500px;
    margin: 20px;
}
.form-btn{
    cursor: pointer;
    font-weight: bold;
    margin: 50px 0 0 10px;
    padding: 12px 25px;
    background-color:rgba(255, 85, 0, 0.987) ;
    border: 1px solid rgba(255, 85, 0, 0.987);
}
.form-btn:hover{
    color: whitesmoke;
    background-color: black;
    border: 1px solid black;
}
.form-name{
    margin-left: 12px;
}
footer{
    height: 120px;
    background-color: black;
    margin-top: 20px;
    color: white;
    text-align: center;
}
.down{
    font-family: 'Niconne', cursive;
    color: red;
    padding: 25px;
}